.game-status {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}

.game-board {
    margin-top: 20px;
    position: relative;
    width: 800px;
    height: 600px;
    /* overflow: auto; */
}

.game-history {
    margin-left: 20px;
    width: 200px;
    height: 600px;
    overflow: auto;
}
